:root {
  --theme-primary: #e31b23;
  --theme-lighter-alt: #fef5f5;
  --theme-lighter: #fbd7d8;
  --theme-light: #f7b5b8;
  --theme-tertiary: #ee7075;
  --theme-secondary: #e6343a;
  --theme-dark-alt: #cc191f;
  --theme-dark: #ac151a;
  --theme-darker: #7f0f13;
  --neutral-lighter-alt: #faf9f8;
  --neutral-lighter: #f3f2f1;
  --neutral-light: #edebe9;
  --neutral-quaternary-alt: #e1dfdd;
  --neutral-quaternary: #d0d0d0;
  --neutral-tertiary-alt: #c8c6c4;
  --neutral-tertiary: #7677b3;
  --neutral-secondary: #55569a;
  --neutral-primary-alt: #393a81;
  --neutral-primary: #00011f;
  --neutral-dark: #121350;
  --black: #060737;
  --white: #ffffff;

  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: dark;
  color: var(--neutral-lighter);
  background-color: var(--neutral-primary);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
}

a {
  font-weight: 500;
  color: var(--theme-primary);
  text-decoration: inherit;
}
a:hover {
  color: var(--theme-dark-alt);
}

body {
  margin: 0;
  padding: 0;
  min-width: 320px;
  min-height: 100vh;
  overflow-x: hidden;
}

#root {
  width: 100%;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid var(--neutral-quaternary);
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: var(--neutral-dark);
  color: var(--white);
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: var(--theme-primary);
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}
